h1 {
    text-align: center;
    color:blue;
}

body {
    background-image: url("map.jpg");  /*Photo by British Library on Unsplash*/
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
}
